<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doctor Secret Room</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header th:replace="header.html :: top">
    <nav>
        <span>Doctor Secret Service</span>
        <a href="/">Sign In</a>
    </nav>
</header>
<section>
    <h1 th:text="|Welcome ${name}|"></h1>
    <h3 th:text="|Your number is ${number}|"></h3>
</section>
<footer th:replace="footer.html :: bottom">
    <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">TARDIS</a></li>
    </ul>
    <span>Copyright BBC/Terry Nation 1963</span>
</footer>
</body>
</html>